{% extends "home.html" %}
{% block title %} Contact Me - CN {% endblock %}
{% block content %}
    <div class="container-lg pt-3 pb-5 mx-auto d-block">
        <img class="img-responsive mx-auto d-block" src="/static/images/contact-128.png">
        <div class="text-center display-4">Contact Me</div>
        <form class="form-responsive" action="#" method="post">
            <div class="row">
                <input type="text" class="form-control" id="name" placeholder="Enter name" name="name" required>
            </div>
            <div class="row">
                <input type="text" class="form-control" id="email" placeholder="Enter email" name="email" required>
            </div>
            <div class="row">
                <textarea class="form-control" rows="10" id="message" placeholder="Enter message" name="message"
                          required></textarea>
            </div>
            <br>
            <button type="submit" value="submit" class="btn btn-dark mx-auto d-block"> Send</button>
        </form>
    </div>
{% endblock %}


