<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Home Page - CN{% endblock %}</title>
        {# icon title #}
        <link rel="icon"
              href="/static/images/C.png">
        {# javascript file #}
        <script type="text/javascript" src="{{ url_for('static', filename='javascript/script.js') }}"></script>
        {#  style sheet #}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename ='css/stylesheet.css') }}">
        {# bootstrap #}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
              crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
              integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
              crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
                integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
                integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
                integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
                crossorigin="anonymous"></script>
        {% block custom %}
            <style>
                body {
                    font-family: "Helvetica Neue", "Arial", "sans-serif";
                }
            </style>
        {% endblock %}
    {% endblock %}
</head>
<body>
{% block navbarHeader %}
    <nav class="navbar navbar-expand-lg fixed-top">
        <a class="navbar-brand text-align-center " href="/home">「 𝐂 𝐇 𝐄 𝐋 𝐒 𝐈 𝐄 」</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"><img src="/static/images/Toggler.png"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav nav-fill w-100">
                <li class="nav-item">
                    <a class="nav-link" href="/justforfun">JUST FOR FUN</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/project">PROJECTS</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/media">MEDIA</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/about">ABOUT</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/contact">CONTACT ME</a>
                </li>
                {#  show user is log in and log out link when user is in session #}
                {% if session["user"] %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="/login" id="navbardrop"
                           data-toggle="dropdown">
                            <i class="fas fa-user-check"></i> <span
                                style="text-transform: capitalize">{{ session["user"] }}</span>
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/logout"><i class="fas fa-user-times"></i>
                                <span style="text-transform: capitalize">LOG OUT</span></a>
                        </div>
                    </li>
                {% else %}
                    {# show log in link when user is not in session #}
                    <li class="nav-item ">
                        <a class="nav-link" href="/login"><i class="fas fa-user-plus"></i> LOG IN</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <style>
        body {
            padding-top: 10%;
            padding-bottom: 10%;
            background-image: url("/static/images/IMG_8226.jpeg");
            background-position: center center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            color: white;
        }
    </style>
    <div class="container-lg mx-auto d-block pt-3">
        <p class="display-4 text-center"> Welcome, I'm Chelsie!</p>
        <p class="lead text-center"><i class="fas fa-birthday-cake"></i> Born on December 18th, 1999</p>
        <p class="lead text-center"><i class="fas fa-university"></i> Student at Concordia University</p>
        <p class="lead text-center text-decoration-none" style="outline-color: red"><i
                class="fas fa-info-circle"></i> <a style="color: white" href="\learnmoreaboutme">Learn more about me</a>
        </p>
    </div>

{% endblock %}

{% block navbarFooter %}
    <nav class="navbar fixed-bottom navbar-expand-xs navbar-expand-sm avbar-expand-md navbar-expand-lg">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbarBottom">
            <span class="navbar-toggler-icon"><img src="/static/images/follow.png"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbarBottom">
            <ul class="navbar-nav nav-fill w-100">
                <li class="nav-item">
                    <a class="nav-link" href="https://www.facebook.com/chelsiengmk" target="_blank"><img
                            src="/static/images/Facebook-32.png"></a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link"
                       href="https://www.instagram.com/chel_ng/?fbclid=IwAR0Fir7duKbFgQ1Ne8_3P5fm92nplsnySSaMkQZbupffu3iQTr_P_W2HbCg"
                       target="_blank"><img src="/static/images/Insta-32.png"></a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="https://www.linkedin.com/in/chelsie-ng-6724b5184/"
                       target="_blank"><img
                            src="/static/images/LinkedIn-32.png"></a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="https://www.youtube.com/channel/UCWDwyhsHn5Yr-XiPDfWM4lQ"
                       target="_blank"><img
                            src="/static/images/Youtube-32.png"></a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="https://www.snapchat.com/add/chel_ng" target="_blank"><img
                            src="/static/images/Snapchat-32.png"></a>
                </li>
            </ul>
        </div>
    </nav>
{% endblock %}
</body>
</html>