{% extends "home.html" %}
{% block title %} More About Me - CN {% endblock %}
{% block content %}
    <div class="container py-5 container-lg mx-auto d-block">
        <h1 class="font-weight-lighter text-reset text-center"><a href="static/documents/Resume_ChelsieNgManKing.pdf"
                                                                  target="_blank"><span class="badge badge-light"><i
                class="fas fa-download"></i>
            Download Resume</span></a></h1><br>
        <ul class="nav nav-tabs nav-justified">
            <li class="nav-item">
                <a class="nav-link active text-dark lead" data-toggle="tab" href="#education">Education</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark lead" data-toggle="tab" href="#work">Work Experience</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane bg-white fade show active" id="education">
                <div class="media border p-3">
                    <img src="/static/images/concordia.jpg" height="48" width="48" class="rounded mr-3">
                    <div class="media-body">
                        <h4 class="lead" style="float: left">Concordia University</h4>
                        <h5 style="float: right" class="lead">2018 - 2022 (Expected)</h5>
                        <div class="container rounded bg-light" style="clear:both">
                            <p>Bachelor of Computer Science - General Program Co-op</p>
                            <ul>
                                <li>Member of the Institute for Co-operative Education</li>
                                <li>Concordia Dean's List 2018-2019</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="media border p-3">
                    <img src="/static/images/LCC.png" height="48" width="48" class="rounded mr-3">
                    <div class="media-body">
                        <h4 class="lead" style="float: left;">Lower Canada College</h4>
                        <h5 style="float: right" class="lead">2017 - 2018</h5>
                        <div class="container rounded bg-light" style="clear: both">
                            <p>Pre-University Diploma</p>
                            <ul>
                                <li>Graduated with Honours</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="media border p-3">
                    <img src="/static/images/user.png" class="rounded mr-3">
                    <div class="media-body">
                        <h4 class="lead" style="float:left">Ebene State Secondary School</h4>
                        <h5 style="float: right" class="lead">2014 - 2015</h5>
                        <div class="container rounded bg-light" style="clear: both">
                            <p>Cambridge O Level</p>
                            <ul>
                                <li>Aggregate 13</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane bg-white gitfade" id="work">
                <div class="media border p-3">
                    <img src="/static/images/matrox.jpeg" height="48" width="48" class="rounded mr-3">
                    <div class="media-body">
                        <h4 class="lead" style="float: left">Matrox</h4>
                        <h5 style="float: right" class="lead">May 2020 - Present (Part-time)</h5>
                        <div class="container rounded bg-light" style="clear: both">
                            <p>Software Quality Assurance Intern</p>
                            <ul>
                                <li>Updated 20+ test cases on TestRail</li>
                                <li>Debugged scripting code</li>
                                <li>Prepared training presentation and mentored new SQA interns</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="media border p-3">
                    <img src="/static/images/td.jpeg" height="48" width="48" class="rounded mr-3">
                    <div class="media-body">
                        <h4 class="lead" style="float: left">TD Auto Finance</h4>
                        <h5 style="float: right" class="lead">July 2019 - May 2020</h5>
                        <div class="container rounded bg-light" style="clear: both">
                            <p>Customer Service Officer</p>
                            <ul>
                                <li>Answered around 65 inbound queued up calls during a workday</li>
                                <li>Administered active auto loans profile</li>
                                <li>Actioned customer requests such as making payments, scheduling arrangements or sending
                                    statement letters
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="media border p-3">
                    <img src="/static/images/exo.jpeg" height="48" width="48" class="rounded mr-3">
                    <div class="media-body">
                        <h4 class="lead" style="float: left">Exo</h4>
                        <h5 style="float: right" class="lead">Apr 2019 - July 2019</h5>
                        <div class="container rounded bg-light" style="clear: both">
                            <p>Customer Service Agent</p>
                            <ul>
                                <li>Coordinated train terminals</li>
                                <li>Directed passengers to terminal</li>
                                <li>Assisted in customer needs such as answering questions, buying or validating
                                    tickets
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="media border p-3">
                    <img src="/static/images/wize.png" height="48" width="48" class="rounded mr-3">
                    <div class="media-body">
                        <h4 class="lead" style="float: left">Wize</h4>
                        <h5 style="float: right" class="lead">Feb 2019 - May 2019</h5>
                        <div class="container rounded bg-light" style="clear: both">
                            <p>Class Representative</p>
                            <ul>
                                <li>Provided feedback to prep courses enrolled in</li>
                                <li>Uploaded course materials to Google Drive on a weekly basis
                                </li>
                                <li>Corresponded with Wize Prof through emails to answer questions
                                </li>
                                <li>Promoted Wize through social media or word of mouth</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="media border p-3">
                    <img src="/static/images/YMCA.png" height="48" width="48" class="rounded mr-3">
                    <div class="media-body">
                        <h4 class="lead" style="float: left">YMCA of Quebec</h4>
                        <h5 style="float: right" class="lead">Oct 2017 - Dec 2017</h5>
                        <div class="container rounded bg-light" style="clear: both">
                            <p>Volunteer Tutor</p>
                            <ul>
                                <li>Taught mathematics to 16-year-old youths twice a week</li>
                                <li>Guided them through homeworks and instant problem-solving questions</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}