{% extends "home.html" %}
{% block title %} Mood - CN {% endblock %}
{% block content %}
    <div class="container py-5 container-lg mx-auto d-block">
        <div class="display-3 text-center"><img class="img-responsive" src="/static/images/quotes.png"> Mood
        </div>
        <ul class="nav nav-tabs nav-justified">
            <li class="nav-item ">
                <a class="nav-link active text-dark lead" data-toggle="tab" href="#mind">What's on your mind?</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark lead" data-toggle="tab" href="#soul">Soul Feeder</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link text-dark lead" data-toggle="tab" href="#mademe">What made me</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane bg-white fade show active" id="mind">
                <div class="media border p-3">
                    <img src="/static/images/anonymous.png" alt="John Doe" class="mr-3 mt-2 ">
                    <div class="media-body">
                        <h5>Anonymous</h5>
                        <form>
                            <div class="container">
                                <textarea class="form-control bg-light" rows="5" id="write"
                                          placeholder="Write something"
                                          name="write"
                                          required></textarea>
                                <button type="submit" class="btn btn-dark">Post</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="media border p-3">
                    <img src="/static/images/user.png" alt="John Doe" class="mr-3 mt-3">
                    <div class="media-body">
                        <h4 class="lead">Posted on February 28, 2020</h4>
                        <div class="container rounded bg-light">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                            ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                            in
                            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                            laborum.
                        </div>
                    </div>
                </div>
                <div class="media border p-3">
                    <img src="/static/images/user.png" alt="John Doe" class="mr-3 mt-3">
                    <div class="media-body">
                        <h4 class="lead">Posted on December 18, 2019</h4>
                        <div class="container rounded bg-light">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                            ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                            in
                            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                            laborum.
                        </div>
                    </div>
                </div>
                <div class="media border p-3">
                    <img src="/static/images/user.png" alt="John Doe" class="mr-3 mt-3">
                    <div class="media-body">
                        <h4 class="lead">Posted on December 11, 2019</h4>
                        <div class="container rounded bg-light">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                            ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                            in
                            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                            laborum.
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane bg-white fade" id="soul">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Keep going</h4>
                        <p class="card-text lead">If ever you feel down, hopeless, lost or insecure, it’s okay. It’s
                            okay to feel what you feel but please, hang in there. Do not give up. Dark moments are
                            temporary. They aren’t here as a punishment; they serve purpose in life. They teach you
                            lessons. They make you stronger. I know you can beat this. You just got so deep in it that
                            you forgot your way up. But hey, always remember to look up because the light is always up.
                            Life is full of surprises and I believe in you. Rise and shine. </p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Lorem ipsum</h4>
                        <p class="card-text lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                            nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
                            anim id est laborum.</p>
                    </div>
                </div>
            </div>
            <div class="tab-pane bg-white fade" id="mademe">
                <div class="container-lg bg-white mx-auto d-block bg-light">
                    <p class="lead text-justify text-center">Tribute to All Broken Souls</p>
                    <p class="lead text-justify">Dear reader, my sincere greetings. Today I am about to show you a side
                        I have always hidden. Why now? Simply because sometimes people write what they cannot say.
                        Overall, my life has never been peaceful: it was basically an endless cycle of hard times and
                        obstacles that no one could look upon. However, presently, I can proudly announce that I am a
                        survivor who never gave up and a warrior, still fighting against the struggle of life. To me,
                        writing this essay means pouring my heart out, revealing my true identity and sharing what I
                        learnt through these hardships. </p>
                    <p class="lead text-justify">First, I will take you back to five years ago, the most painful and
                        changing phase of my life. Ijeoma Umebinyo once wrote, “so many broken children living in grown
                        bodies mimicking adult lives.” (Rip Robin Williams and many more, pinterest.com) In fact, I am
                        one of those children. I was only twelve when my father was arrested. Indeed, a little girl’s
                        biggest fan and so-called hero of her world had been snatched. Not only did she lose her father,
                        she also felt like she did not belong here anymore. All her hopes and dreams were shattered, she
                        felt her world crashing down and fell into complete darkness. </p>
                    <p class="lead text-justify">As my twelve-year-old self, I barely understood what was happening but
                        what I did acknowledge was the permanent series of unfortunate events ahead of me. I grew up too
                        fast: I failed in making the most of my childhood. I felt intense emotions prematurely. I
                        remember drastically shifting from a super confident, spoiled little princess to someone full of
                        fears and insecurities. All eyes were on me and I constantly felt judged. Every night, I would
                        cry myself to sleep. I would visualize the most traumatic and heartbreaking scene of my father
                        being savagely taken away handcuffed. Every thought about him made my heart heavy. Farewell to
                        whims, to daddy-daughter moments, to a happily ever after family. Farewell to a father who would
                        never see his daughter grow again. I was just a broken girl frustrated at how life had struck at
                        her so harshly that she envied others’ happiness. </p>
                    <p class="lead text-justify">Nevertheless, as cliché as it may sound, I found aglow flickering in my
                        darkest days. Welcome to the enlivening phase of my life. I dedicate this phase to all my
                        dearest friends. Without them I would not be who I am now: cheerful, strong and fearless. They
                        made life worth living again. They were my happiness, my strength and my motivation. My friends
                        were the heroes of my miserable life. They would say, “Chelsie, you’ve been through so much and
                        yet you’re so joyful and smiling. You’re such an inspiration, you truly command respect and I’ll
                        always admire you.” Those words will forever be engraved in my heart. </p>
                    <p class="lead text-justify"> Last, but not least, here is my realization phase. Pain is an
                        inevitable part of life. We do not choose the events obstructing our way and I believe one
                        should see the beauty of it. Pain has deeply shaped me into becoming a better person. It changed
                        my perception of life, values and goals. I learned to cherish little things, the good days
                        through the bad and I learned to see the best in everyone. I feel empathy for anyone because I
                        know that behind every genuine smile lies an untold story. We should all remember, one never
                        loses: one either wins or learn.</p>
                    <p class="lead text-justify">Today, I am here as a winner. Getting into university means the world
                        to me. It will bring me one step ahead to attain a stable life and to finally feel at home
                        again. Despite having a happy personality and a broken soul in one body, I am thankful for my
                        scars. I now believe I am ready to face and fight the true reality of life. Someday, I hope to
                        inspire others as much as I inspired my beloved, showing them that there will always be a way up
                        and giving up is never an option. After all no one should be ashamed of their story. “Your
                        experience is everything. Your lessons, mistakes, highs and lows, they all make up who you are.”
                        (thegoodquote, instagram.com)</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
