{% extends "home.html" %}
{% block title %} Thank you for contacting - CN {% endblock %}
{% block content %}
    <div class="container-lg pt-3 pb-5 mx-auto d-block" xmlns="http://www.w3.org/1999/html">
        <div class="text-center display-3"><img class="img-responsive" src="/static/images/sent-64.png"> Message sent
        </div>
        <br>
        <div class="container-lg mx-auto d-block bg-white">
            <h1 class="text-center font-weight-light">Thank you <span style="text-transform: capitalize">{{ name }}</span> for your message!</h1>
            <br>
            <div class="table-responsive-lg">
                <table class="table table-hover">
                    <tr>
                        <th>
                            <div class="lead">Email</div>
                        </th>
                        <td>
                            <div class="lead">Message</div>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <div class="lead">{{ email }}</div>
                        </th>
                        <td>
                            <div class="lead text-justify">{{ message }}</div>
                        </td>
                    </tr>
                </table>
            </div>
            <h1 class="text-center font-weight-light">I will contact you shortly.</h1>

        </div>
    </div>
{% endblock %}