<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        {%block head_title%}
        {%endblock%}
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
    <!-- Menu Section -->
    {%include 'menus.html'%}

      <!-- Page Content -->
      <div class="container">
          <!-- messaging area -->
          {%if message:%}
          <div class="alert alert-success mt-3" role="alert">
                {{message}}
            </div>
            {%endif%}

           <!-- Cotent    -->
        {%block content%}
        {%endblock%}
    </div>

</body>
</html>