{% extends "home.html" %}
{% block title %} Media - CN {% endblock %}
{% block content %}
    {# intagram api #}
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/mediaAPI.js') }}"></script>
    <div class="container py-5 container-lg mx-auto d-block">
        <div class="display-3 text-center"><img class="img-responsive" src="/static/images/media.png"> Media</div>
        <ul class="nav nav-tabs nav-justified">
            <li class="nav-item">
                <a class="nav-link active text-dark lead" data-toggle="tab" href="#photos">Instagram Photos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark lead" data-toggle="tab" href="#videos">Facebook Videos</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane bg-white fade show active" id="photos">
                {# displaying instagram pictures #}
                <div id="instafeed"><div class="gallery" id="gallery"></div></div>
            </div>
            <div class="tab-pane bg-white gitfade" id="videos">
{#                <div class="container container-sm container-md container-lg">#}
                    {# displaying facebook videos #}
{#                    <div id="fb-root"></div>#}
{#                    <script async defer crossorigin="anonymous"#}
{#                            src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v6.0&appId=216701929430972&autoLogAppEvents=1"></script>#}
{#                    <div class="fb-video"#}
{#                         data-href="https://www.facebook.com/chelsiengmk/videos/vb.100001783119262/984669904935771/?type=3"#}
{#                         data-width="1080" data-show-text="true">#}
{#                        <blockquote cite="https://developers.facebook.com/chelsiengmk/videos/984669904935771/"#}
{#                                    class="fb-xfbml-parse-ignore"><a#}
{#                                href="https://developers.facebook.com/chelsiengmk/videos/984669904935771/">Chinese Dance#}
{#                            2016</a>#}
{#                            <p>-You exist in my song- 🙈</p>Posted by <a href="https://www.facebook.com/chelsiengmk">Chelsie#}
{#                                Ng</a> on Tuesday, May 24, 2016#}
{#                        </blockquote>#}
{#                    </div>#}
{#                </div>#}
                <div class="container container-sm container-md container-lg">
                    <div id="fb-root"></div>
                    <script async defer crossorigin="anonymous"
                            src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v6.0&appId=216701929430972&autoLogAppEvents=1"></script>
                    <div class="fb-video"
                         data-href="https://www.facebook.com/chelsiengmk/videos/vb.100001783119262/972790726123689/?type=3"
                         data-width="1080" data-show-text="true">
                        <blockquote cite="https://developers.facebook.com/chelsiengmk/videos/972790726123689/"
                                    class="fb-xfbml-parse-ignore"><a
                                href="https://developers.facebook.com/chelsiengmk/videos/972790726123689/"></a>
                            <p>In the end we didn&#039;t realize we were making memories, we just knew we were having
                                fun 🙈

                                Thanks everyone for contributing in this &#039;little piece of art&#039; 😏✌🏼️
                                We nailed it! Yellow+Green ftw!🔥</p>Posted by <a
                                    href="https://www.facebook.com/chelsiengmk">Chelsie Ng</a> on Monday, May 2, 2016
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}