{% extends "home.html" %}
{% block title %} Contact Me - CN {% endblock %}
{% block content %}
    <div class="container-md mx-auto d-block">
        </br>
        <div class="display-3 text-center"><img class="img-responsive" src="/static/images/info-64.png"> About</div>
        </br>
        <div class="container-md mx-auto d-block bg-light">
            <p class="lead">Hello there!</p>
            <p class="lead">First of all, thank you for passing by. I hope this website finds you well. </p>
            <p class="lead text-justify">The main aim of my website was to promote myself, build and control my personal
                brand. But in reality, I want
                to
                inspire people like you by telling my story, sharing my achievements and memories online. I believe
                having a
                personal website is more dynamic and brings in sparks. I want to present you who I really am by
                expressing
                my real
                personality to you. </p>
            <p class="lead text-justify">I hope you enjoy the upcoming rest and I encourage you to do the same as you
                have
                the freedom to be
                creative and control your <strong>own</strong> brand.</p>
            <p class="lead">All the best,<br>Chelsie</p>
        </div>
    </div>

{% endblock %}