{% extends "home.html" %}
{% block title %} Project - CN {% endblock %}
{% block content %}
    <img class="img-responsive mx-auto d-block" src="/static/images/github.png">
    <div class="container-md mx-auto d-block">
        <div class="alert alert-info mx-auto d-block bg-light text-center">
             <strong> <img src="/static/images/repo-blue.png" class="img-responsive">Click here </strong> to visit
            my <a href="https://github.com/chelsieng?tab=repositories" class="alert-link">git repository!</a>
        </div>
    </div>
{% endblock %}